footer.footer-distributed
	.footer-right Around the web
		hr

		a(href="http://www.facebook.com/mohanad117" target="_blank").fb
			li.fa.fa-facebook
		a(href="http://twitter.com/mohannd117" target="_blank").twitter
			li.fa.fa-twitter
		a(href="http://plus.google.com/+MohanadSalah" target="_blank").gplus
			li.fa.fa-google-plus
		a(href="http://steamcommunity.com/id/ABN_117" target="_blank").steam
			li.fa.fa-steam

	.footer-left
		p Mohanad Salah &copy; 2015