.page-wrapper
	header
		.jumbotron.hero
			.name
				h1 Mohanad Salah's
			h4 Trying to make a friendship with the web

	.container 
		.row 
			{% for post in site.posts %}
			.col-md-4.col-xs-12.col-sm-6
				a(href="{{ post.url }}")  
					article.card 
						.card-header 
							h3 {{ post.title }}
							span.date
								i.fa.fa-calendar-o
								h5 {{ post.date | date: "%-d %b %Y" }}{% if site.author %} • by: {{ site.author }}{% endif %}
						hr
						p {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
			{% endfor %}