.post-page-wrapper
	header.jumbotron.post
		.container
			.post-back-btn
				span.fa-stack-2x
					a(href="{{ site.url }}")
						i.fa.fa-arrow-circle-left.post-back-ico
			.post-title
				h1 {{ page.title }}
				span.date
					i.fa.fa-calendar-o
					h5 {{ page.date | date: "%Y-%m-%d" }}
			hr


	.container
		article(itemscope itemtype="http://schema.org/Article").content {{ content }}