.post-page-wrapper
	background:white
.narrow
	width: 700px
	margin:0 auto
	background: white
	.content
		display: inline-block
		font: 12px/1.2 "autocode" monospace
		p
			line-height: 1.5
		h1,h2,h3
			margin: 5px 3px 5px 15px
			line-height: 1.5
		hr
			margin: 0 0 5px 15px
			width: 10em

.comments
	margin-top: 50px
	margin-bottom: -80px
	background: darken($lighter-grey,5)
	border-radius: 15px 10px 0 0
	padding: 10px

.post-footer-wrapper
	footer
		hr
			border: 1px solid $accent4

	
@media (max-width: 850px)
	.narrow
		width: auto
		font-size: 1em
	.content
		font-size: 2000px
		display: inline-block
	.comments
		width: 600px
	.f2
		padding-top: 5px

@media (max-width: 815px)
	.comments
		width: auto