.post
	background: $accent4
	color: $text-color
	font-weight: bold
	text-align: center
	.post-back-ico
		display: inline-block
		float: left
		margin: 40px 40px 0
		&:hover
			color: lighten($text-color, 20)
			transform: rotate(360deg) scale(1.5,1.5)
		transition: all .4s ease-in-out		
	a
		width: auto	
	hr
		height: 0
		width: 100px
		border: 1px solid 
		border-color: white

@media (max-width: 767px)
	.post-back-btn
		display: none