////////////////////
// Color Plaette //
//////////////////
$drk_main:	#090A14
$main:			#161830
$pinky:			#C2185B
$teal:			#13818D
$text:			#545454


//////////////////////////////////
// Break-points for reposivness //
/////////////////////////////////
$height-break: 520px
$width-break: 800px
