.card
	width: 75vw
	height: 80vh
	background: white

	display: flex
	flex-direction: row
	box-shadow: 0px 0px 15px 0px rgba(10, 10, 10, 1)
	transition: all 0.3s ease-in-out

	//border: 5px solid yellow


// Media Queries ::> For larger devices

// Media Queries ::> For smaller devices
// Width
@media (max-width: $width-break)
	body
		background: $drk_main
	.card
		// background: blue
		flex-direction: column
		width: 95vw
		height: 100%
		margin: 20px 0

// Height
// @media (max-height: height-break)
// 	.card
// 		background: cyan
